@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #dbeafe;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 206);
}

@layer base {
  input,
  button {
    @apply outline-none;
  }
}
