@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 206);
}

@layer base {
  input,
  button {
    @apply outline-none;
  }
}

@layer components {
  html.dark {
    @apply bg-gray-950;
  }

  html.dark ::-webkit-scrollbar-thumb {
    @apply bg-gray-800;
  }

  html.light {
    @apply bg-white;
  }
}
